<div class="timer-block">
    <span id="countdown-days" class="timer-block-number">{{days()}}</span>
    <span class="timer-block-value">days</span>
</div>

<div class="timer-block">
    <span id="countdown-hours" class="timer-block-number">{{hours()}}</span>
    <span class="timer-block-value">hours</span>
</div>
<div class="timer-block">
    <span id="countdown-minutes" class="timer-block-number">{{minutes()}}</span>
    <span class="timer-block-value">minutes</span>
</div>
<div class="timer-block">
    <span id="countdown-seconds" class="timer-block-number">{{seconds()}}</span>
    <span class="timer-block-value">seconds</span>
</div>